<h1 class="text-center">CREATE A NEW QUOTE</h1>

<div class="container">
   
    <div class="row">
      <div class="col-md-6">

        <div class="card">
    <div class="card-body">
        <ul>
            <div *ngFor='let quote of quotes; let i = index'>
            <li  class="card-title">
                {{ quote.quotename }}
            </li>
            <button class="btn btn-success"  (click)='toggleDetails(i)'>Quote Details</button>
            <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </div>
        </ul>
    </div>
    </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
    <p *ngIf='quotes.length > 5'>You have too many goals</p>
  </div>


<p *ngIf='quotes.length > 10'>TOO MUCH QUOTES</p>