<h1>Create QUOTE</h1>
<div class="container-fluid">

    <form (ngSubmit)='submitGoal()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" name="author" [(ngModel)]="newQuote.author" #author="ngModel" required>
  
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name is required</p>
              </div>
    
        </div>
        <div class="form-group">
  
            <label for="publisher">Publisher</label>
            <input type="text" required class="form-control" id="publisher" name="publisher" [(ngModel)]="newQuote.publisher" #publisher="ngModel" required>
  
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p>Name is required</p>
              </div>
    
        </div>
        <div class="form-group">

            <label for="quotename">Quote</label>
            <textarea class="form-control" id="quotename" rows="4" [(ngModel)]="newQuote.quotename" name="quotename" #quotename="ngModel" required></textarea>
            <div [hidden]="quotename.valid || quotename.pristine" class="alert alert-danger">
                <p>the Quote is required</p>
              </div>
    
        </div>
        <div class="form-group">
            <label for="completeDate">Date</label><br>
            <input type='date' id="completeDate" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>

            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
              </div>
  
        </div>
        <button type="submit" class="btn btn-success">POST QUOTE</button>
    </form>
  </div>
